
@{
    ViewData["Title"] = "Finding Call Numbers";
}

    <div class="back-button-wrapper">
        <a href="/Home/Index" class="back-button"><i class="fa fa-chevron-left"></i> Back to Menu</a>
    </div>

<div class="container leaderboard-replacing-books-container">
    <h2>Leaderboard - Finding Call Numbers</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody id="tbody" class="lazy-load-wrapper">
            @*Rows populate here*@ 
        </tbody>
    </table>


</div>

<script src="~/js/finding-call-numbers-leaderboard.js"></script>
