
@{
    ViewData["Title"] = "Replacing Books";
}

<div class="back-button-wrapper">
    <a href="/Tasks/ReplacingBooks" class="back-button"><i class="fa fa-chevron-left"></i>Play Replacing Books</a>
</div>

<div class="container leaderboard-replacing-books-container">
    <h2>Leaderboard - Replacing Books</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @*Rows populate here*@ 
        </tbody>
    </table>


</div>

<script src="~/js/replacing-books-leaderboard.js"></script>
