
@{
    ViewData["Title"] = "ReplacingBooks";
}
<meta http-equiv="cashe-control" content="no-cashe">
<div class="back-button-wrapper">
    <a href="/Home/Index" class="back-button"><i class="fa fa-chevron-left"></i> Back to Menu</a>
</div>
<div class="container replacing-books-container">
    <div class="header-wrapper">
        <div class="header-left">
            <h2>Replacing Books</h2>
            <span class="instructions">Sort the books according to their call numbers. Complete it faster to rank higher</span>
        </div>
        <div class="header-right">
            <div class="timer-wrapper">
                <span class="timer-text">0s</span>
                <i class="fa fa-play play-button"></i>
            </div>
        </div>
    </div>
    <hr />
    <ul class="book-wrapper">
        @*Books populate here*@
    </ul>
    <div class="progress-bar-wrapper">
        <div class="custom-progress-bar"></div>
    </div>
</div>

<div class="popup-container">
    <div class="form-wrapper">
        <h2>Save Time</h2>
        <hr>
        <div class="form-body">
            <input class="form-input form-component" type="text" id="name-text" placeholder="Enter your name" />
            <div class="button-wrapper">
                <button class="save-score-button form-component">Save</button>
            </div>
        </div>
    </div>
</div>


<script src="~/js/replacing-books.js"></script>