@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

/* https://colorhunt.co/palette/201413 */
$primary-color-light: #4e89ae;
$primary-color-dark: #43658b;
$accent-color-light: #ffa372;
$accent-color-dark: #ed6663;

* {
    font-family: 'Ubuntu', sans-serif;
    transition: background-color 0.4s ease;
}

body {
    background-color: $primary-color-light;
}

.home-menu-container {
    width: 70%;
    margin-top: 100px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $primary-color-dark;
    border: 1px solid $primary-color-dark;
}

.home-link-wrapper {
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;

    .game-wrapper {
        display: flex;
        flex-direction: row;
    }

    .game-link-wrapper {
        background: $accent-color-light;
        border-radius: 5px;
        box-shadow: 2px 2px 2px $accent-color-dark;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $accent-color-dark;
        flex-basis: 100%;

        &:hover {
            background: darken($accent-color-light, 5);
        }

        .game-link {
            text-shadow: 2px 2px rgba(0,0,0,0.1);

            &:hover {
                text-decoration: none;
            }

            h3.game-name {
                color: white;
            }
        }
    }

    .leaderboard-link-wrapper {
        background: $accent-color-light;
        border-radius: 5px;
        box-shadow: 2px 2px 2px $accent-color-dark;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $accent-color-dark;
        margin-left: 10px;
        flex-basis: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:hover {
            background: darken($accent-color-light, 5);
        }

        .leaderboard-link {

            &:hover {
                text-decoration: none;
            }

            .leaderboard-icon {
                color: white;
                font-size: 1.6em;
            }
        }
    }

    .game-link-wrapper.disabled {
        background: #bbbbbb;
        border-radius: 5px;
        box-shadow: 2px 2px 2px darken(#bbbbbb, 5);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid rgba(0,0,0,0.2);

        &:hover {
            cursor: not-allowed;
        }

        .game-link {
            text-shadow: none;

            &:hover {
                text-decoration: none;
                cursor: not-allowed;
            }
        }

        h3.game-name {
            /*            color: #8c8c8c;*/
            color: rgba(0,0,0,0.3);
        }
    }
}

/* REPLACING BOOKS STYLES*/
.back-button-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.back-button {
    height: 20px;
    background: $accent-color-light;
    border: 1px solid $accent-color-dark;
    border-radius: 10px;
    padding: 10px;
    color: white;

    i {
        margin-right: 5px;
    }

    &:hover {
        color: white;
        text-decoration: none;
        background: darken($accent-color-light, 5);
    }
}

.replacing-books-container {
    width: 100%;
    /*margin-top: 100px;*/
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $primary-color-dark;
    border: 1px solid $primary-color-dark;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-left {
            flex-basis: 70%;
        }

        .header-right {
            flex-basis: 30%;
            display: flex;
            flex-direction: row-reverse;

            .timer-wrapper {
                height: 75px;
                width: 75px;
                border-radius: 50%;
                padding: 20px;
                border: 1px solid #ed6663;
                background: #ffa372;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                .timer-text {
                    display: none;
                    font-size: 1.4em;
                }

                .play-button {
                    font-size: 1.4em;

                    &:hover {
                        color: rgba(255,255,255,0.8);
                        cursor: pointer;
                    }
                }
            }
        }
    }


    .instructions {
        font-size: 1.2em;
    }

    .book-wrapper {
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
    }

    $book-color: rgb(random(255), random(255), random(255));

    .book {
        $height: 500px;
        height: $height;
        /*width: calc(#{$height}/3.333);*/
        display: flex;
        flex-direction: row;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
        margin-right: 5px;
        border-radius: 5px;
        min-width: 0;

        .cover {
            flex-basis: 10%;
            // border: 1px solid blue;
            background-color: darken($book-color, 5);
        }

        .cover.left {
            border-radius: 5px 0 0 5px;
            border-right: 5px solid darken($book-color, 10);
        }

        .cover.right {
            border-radius: 0 5px 5px 0;
            border-left: 5px solid darken($book-color, 10);
        }

        .spine {
            flex-basis: 80%;
            background-color: $book-color;
            display: flex;
            flex-direction: column-reverse;

            .sticker {
                margin: 10px;
                border-radius: 5px;
                flex-basis: 75px;
                background: white;
                padding: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    display: block;
                    text-align: center;
                    font-size: 1.2em;
                    user-select: none;
                }
            }
        }
    }

    .progress-bar-wrapper {
        margin-top: 30px;
        height: 40px;
        width: 100%;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 20px;
        box-shadow: 0px 0px 5px $accent-color-light;

        .custom-progress-bar {
            width: 0%;
            height: 100%;
            background-color: $accent-color-dark;
            border-radius: 20px;
            transition: width 1s ease;
        }
    }
}

.identifying-areas-container {
    width: 100%;
    /*margin-top: 100px;*/
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $primary-color-dark;
    border: 1px solid $primary-color-dark;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-left {
            flex-basis: 70%;
        }

        .header-right {
            flex-basis: 30%;
            display: flex;
            flex-direction: row-reverse;

            .timer-wrapper {
                height: 75px;
                width: 75px;
                border-radius: 50%;
                padding: 20px;
                border: 1px solid #ed6663;
                background: #ffa372;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                .timer-text {
                    display: none;
                    font-size: 1.4em;
                }

                .play-button {
                    font-size: 1.4em;

                    &:hover {
                        color: rgba(255,255,255,0.8);
                        cursor: pointer;
                    }
                }
            }

            .endgame-controls-wrapper {
                height: 75px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                display: none;

                .endgame-control {
                    border-radius: 5px;
                    padding: 20px;
                    margin-left: 5px;
                    flex-basis: 75px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        text-decoration: none;
                    }

                    .control-icon {
                        color: white;
                        font-size: 1.4em;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .endgame-control.next {
                    background: $primary-color-light;
                    box-shadow: 2px 2px 2px $primary-color-dark;
                    border: 1px solid $primary-color-dark;

                    &:hover {
                        background: darken($primary-color-light, 5);
                    }
                }

                .endgame-control.leaderboard {
                    background: $accent-color-light;
                    box-shadow: 2px 2px 2px $accent-color-dark;
                    border: 1px solid $accent-color-dark;

                    &:hover {
                        background: darken($accent-color-light, 5);
                    }
                }
            }
        }
    }


    .instructions {
        font-size: 1.2em;
    }

    .column-wrapper {
        display: flex;
    }

    .left-column {
        display: inline;
        width: 40%;
        padding-right: 10px;
    }

    .right-column {
        display: inline;
        width: 60%;
        padding-left: 10px;
    }

    .right-column .answer-wrapper {
        margin-bottom: 10px;
        user-select: none;
    }

    .answer-wrapper {
        background: #ffa372;
        box-shadow: 2px 2px 2px #ed6663;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .answer-text {
        text-shadow: 2px 2px rgba(0,0,0,0.1);
        font-size: 1.4em;
    }

    .question-wrapper {
        user-select: none;
        background: #4e89ae;
        box-shadow: 2px 2px 2px #4365ab;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .question-wrapper.correct {
        background: #6baf44;
        box-shadow: 2px 2px 2px darken(#6baf44, 10);
    }

    .question-wrapper.incorrect {
        background: #ed5a70;
        box-shadow: 2px 2px 2px darken(#ed5a70, 10);
    }

    .question-text {
        text-shadow: 2px 2px rgba(0,0,0,0.1);
        font-size: 1.4em;
    }

    .host-wrapper {
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        background: rgba(255,255,255,0.5);
    }

    .host-wrapper.dropped {
        background: rgba(255,255,255,0);
        padding: 0;
        box-shadow: none;
    }

    .host-wrapper.empty {
        background: rgba(255,255,255,0.5);
        padding: 10px;
    }

    .host-wrapper.over {
        background: rgba(255,255,255,0.2);
    }

    .host-wrapper .host-placeholder {
        display: none;
    }

    .host-wrapper.empty .host-placeholder {
        display: block;
        font-style: italic;
    }



    .progress-bar-wrapper {
        margin-top: 30px;
        height: 40px;
        width: 100%;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 20px;
        box-shadow: 0px 0px 5px $accent-color-light;

        .custom-progress-bar {
            width: 0%;
            height: 100%;
            background-color: $accent-color-dark;
            border-radius: 20px;
            transition: width 1s ease;
        }
    }
}


.finding-call-numbers-container {
    width: 100%;
    /*margin-top: 100px;*/
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $primary-color-dark;
    border: 1px solid $primary-color-dark;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .header-left {
            flex-basis: 70%;
        }

        .header-right {
            flex-basis: 30%;
            display: flex;
            flex-direction: row-reverse;

            .timer-wrapper {
                height: 75px;
                width: 75px;
                border-radius: 50%;
                padding: 20px;
                border: 1px solid #ed6663;
                background: #ffa372;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                .timer-text {
                    display: none;
                    font-size: 1.4em;
                }

                .play-button {
                    font-size: 1.4em;

                    &:hover {
                        color: rgba(255,255,255,0.8);
                        cursor: pointer;
                    }
                }
            }

            .endgame-controls-wrapper {
                height: 75px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                display: none;

                .endgame-control {
                    border-radius: 5px;
                    padding: 20px;
                    margin-left: 5px;
                    flex-basis: 75px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        text-decoration: none;
                    }

                    .control-icon {
                        color: white;
                        font-size: 1.4em;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .endgame-control.next {
                    background: $primary-color-light;
                    box-shadow: 2px 2px 2px $primary-color-dark;
                    border: 1px solid $primary-color-dark;

                    &:hover {
                        background: darken($primary-color-light, 5);
                    }
                }

                .endgame-control.leaderboard {
                    background: $accent-color-light;
                    box-shadow: 2px 2px 2px $accent-color-dark;
                    border: 1px solid $accent-color-dark;

                    &:hover {
                        background: darken($accent-color-light, 5);
                    }
                }
            }
        }
    }


    .instructions {
        font-size: 1.2em;
    }

    .top-call-number-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .top-call-number-container {
        background: $accent-color-light;
        box-shadow: 2px 2px 2px #ed6663;
        color: white;
        padding: 15px;
        border-radius: 5px;
    }

    .top-call-number {
        color: white;
        font-size: 2.0em;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
        user-select: none;
    }

    .question-text {
        font-size: 1.2em;
        background: lighten($accent-color-light, 0);
        box-shadow: 2px 2px 2px $accent-color-dark;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .answer-list {
        margin-top: 20px;
        list-style: none;
        padding-left: 0;

        .answer-list-item {
            background: $primary-color-light;
            box-shadow: 2px 2px 2px $primary-color-dark;
            padding: 15px;
            border-radius: 5px;
            /*width: 50%;*/
            margin: 10px auto;

            .answer-text {
                color: white;
                font-size: 1.4em;
                text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
                margin-left: 30px;
                user-select: none;
            }
        }

        .answer-list-item.correct {
            background: #6baf44;
            box-shadow: 2px 2px 2px darken(#6baf44, 10);
        }

        .answer-list-item.incorrect {
            background: #ed5a70;
            box-shadow: 2px 2px 2px darken(#ed5a70, 10);
        }

        .answer-list-item.active {

            &:hover {
                background: darken($primary-color-light, 5);
                cursor: pointer;
            }
        }
    }



    .progress-bar-wrapper {
        margin-top: 30px;
        height: 40px;
        width: 100%;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 20px;
        box-shadow: 0px 0px 5px $accent-color-light;

        .custom-progress-bar {
            width: 0%;
            height: 100%;
            background-color: $accent-color-dark;
            border-radius: 20px;
            transition: width 1s ease;
        }
    }
}

.lazy-load-wrapper{
    display: none;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgba(0,0,0,0.5);

    .form-wrapper {
        border: 1px solid #707070;
        border-radius: 5px;
        padding: 30px;
        margin-top: 20px;
        background: #fff;
        position: absolute;
        overflow-y: auto;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-30%);
        -webkit-transform: translate(-50%,-50%);
        width: 50%;

        .form-body {
            display: flex;
            flex-direction: column;

            .form-component {
                margin: 0;
                margin-top: 10px;
            }

            .error-wrapper {
                margin-top: 10px;

                .error-text {
                    color: red;
                }
            }

            .button-wrapper {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        .form-label {
            margin-top: 5px;
        }

        .form-input.form-component {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid rgba(0,0,0,0.5);

            &:focus {
                outline: none;
                border: 1px solid rgba(0,0,0,0.8);
            }
        }

        .form-component.save-score-button {
            border: none;
            background-color: $accent-color-light;
            box-shadow: 2px 2px 2px $accent-color-dark;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;

            &:hover {
                background-color: darken($accent-color-light, 5);
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }
}


.leaderboard-replacing-books-container {
    width: 100%;
    /*margin-top: 100px;*/
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $primary-color-dark;
    border: 1px solid $primary-color-dark;

    table.table {
        margin-top: 10px;
    }
}
