@{
    ViewData["Title"] = "Home Page";
}

<div class="container home-menu-container">
    <h2>Dewey Decimal System</h2>
    <hr />
    <div class="home-link-wrapper">
        <div class="game-wrapper">
            <div class="game-link-wrapper">
                <a href="/Tasks/ReplacingBooks" class="game-link"><h3 class="game-name">Replacing Books</h3></a>
            </div>
            <div class="leaderboard-link-wrapper">
                <a href="/Leaderboards/ReplacingBooks" class="leaderboard-link"><i class="fas fa-award leaderboard-icon"></i></a>
            </div>

        </div>
        <div class="game-wrapper">
            <div class="game-link-wrapper">
                <a href="/Tasks/IdentifyingAreas" class="game-link"><h3 class="game-name">Identifying Areas</h3></a>
            </div>
            <div class="leaderboard-link-wrapper">
                <a href="/Leaderboards/ReplacingBooks" class="leaderboard-link"><i class="fas fa-award leaderboard-icon"></i></a>
            </div>

        </div>
        <div class="game-link-wrapper disabled">
            <h3 class="game-name">Finding Call Numbers</h3>
        </div>
    </div>
</div>
