@{
    ViewData["Title"] = "Home Page";
}

    <div class="container home-menu-container">
        <h2>Dewey Decimal System</h2>
        <hr />
        <div class="home-link-wrapper">
            <div class="game-link-wrapper">
                <a href="#" class="game-link"><h3>Replacing Books</h3></a>
            </div>
            <div class="game-link-wrapper disabled">
                <a href="#" class="game-link"><h3>Identifying Areas</h3></a>

            </div>
            <div class="game-link-wrapper disabled">
                <a href="#" class="game-link"><h3>Finding Call Numbers</h3></a>
            </div>
        </div>
    </div>
